<table>
    <thead>
        <tr>
            <th *ngFor="let header of headers">{{ header }}</th>
            <!-- <th *ngFor="let header of collection[0] | keyvalue">
                {{ header.key }}
            </th> -->
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of collection">
            <!-- <td *ngFor="let value of item | keyvalue">
                {{ value.value }} 
            </td> -->
            <td>{{ item.tjmHt }}</td>
            <td>{{ item.nbJours }}</td>
            <td>{{ item.tva }}</td>
            <td>{{ item.typePresta }}</td>
            <td>{{ item.client }}</td>
            <td>{{ item.state }}</td>
        </tr>
    </tbody>
</table>
