
<app-template-full-width [title]="titleParent" *ngIf="collection">
    <app-table-light [headers]="headers">
        <tr *ngFor="let item of collection">
            <td>{{ item.tjmHt }}</td>
            <td>{{ item.nbJours }}</td>
            <td>{{ item.tva }}</td>
            <td>{{ item | total }}</td>
            <td>{{ item | total : true }}</td>
            <td>{{ item.typePresta }}</td>
            <td>{{ item.client }}</td>
            <td>{{ item.state }}</td>
        </tr>
    </app-table-light>
    <app-btn></app-btn>
    <p>Premier element de ma collection : {{ demoDate | date : 'dd/MM/YYYY' }}</p>
</app-template-full-width>

